@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
.cabecalho{
    padding: 2% 15% 5% 15%;
}
.cabecalho__menu{
    display: flex;
    justify-content: space-around;
}
.cabecalho__menu__link{
    display: flex;
    justify-content: center;
    gap: 5px;
    border: rgb(140, 0, 255) solid 2px;
    width: 270px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 50px #5d71d7,0 0 5px #5d71d7;
}
.cabecalho__menu__link :hover{
    background-color: black;
    animation: pulse1 3s infinite;
    transition: 3s;
}
@keyframes pulse1{
    0%{
        transform: scale(1);
    }
    50%{transform: scale(0.95);
    }
    100%{
        transform: scale(1);
    }
}
.titulo{
    
    color: white;
    text-shadow:  0 0 0.2em #87F, 0 0 0.2em #87F,
    0 0 0.2em #87F
}
.imgcontacts{
    color: white;
    font: 70px;
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    padding: 21.5px 0;
    width: 250px;
}

.rodape{
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    height: 4rem;
    width: 100%;
    bottom: 0;
    text-align: center;
    text-decoration: none;
}
.aprensetacao__link :hover{
    color: rgb(140, 0, 255);
    border: #5d71d7 solid 1px;
}
.cabecalho :hover{
    color: rgb(140, 0, 255);
}